.gridborder {
    background-color: $header-color;
    border: 1px solid rgb(0, 0, 0);
    display: inline-block;

    width: 100%;

    padding: 1em;
}

.gridborderdouble {
    grid-column: span 2;
    background-color: $header-color;
    border: 1px solid rgb(0, 0, 0);
    padding: 1em;
}

.gridborderfull {
    display: inline-block;
    width: 100%;
    background-color: $header-color;
    border: 1px solid rgb(0, 0, 0);
    grid-column: span 3;
    padding: 1em;
}