@media (max-width: 767px) {
    .footer {
        padding: 0;
        margin: 0;
        display: block;
        
        p {
            padding: 1em;
            margin: 0;
        }
    
        a {
            margin: 1rem;
        }
    }
}