$font-color: #e3db83;
$main-color: rgb(94, 92, 100);
$header-color: #7956E3;
$footer-color: #63635B;
$code-background: rgb(61, 56, 70);
$accessed-color: rgb(94, 92, 100);
$footer-text: rgb(246, 245, 244);