.container {
    margin-top: 1em;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.container iframe,
.container object,
.container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.spreadsheet-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 70%;
}

.spreadsheet-container iframe,
.spreadsheet-container object,
.spreadsheet-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

iframe .spreadsheet {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}